.ctgHdr {
        display: flex;
        align-items: center;
        justify-content: space-between;
        
        
        .ctgTitle {
             font-size: 2.4rem;
                font-weight: 700;
                line-height: 3.6rem;
                font-family: var(--inter);
                color: #131523;
        }
        button {
            border-color: var(--theme);
            background: var(--theme);gap: ;
            border-radius: 0.4rem;
            padding: 0.7rem 1.9rem; 
            color: #fff;
            font-family: var(--inter);
            font-size: 1.6rem;
            line-height: 2.4rem;
            display: flex;
            align-items: center;
            gap: 0.4rem;

            &:hover {
                background-color: transparent;
                color: var(--theme);
            }
        }
    }

.categoriesBlog {
        margin-top: 3rem;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 3rem;

        
        .ctgContainer {
                width: 100%;
                background: #fff;
                height: 34rem;
                border-radius: .6rem;
                overflow: hidden;
                box-shadow: 0px .2rem .6rem rgba(21, 34, 50, 0.08);
                position: relative;
                
                .ctgEdit {

                        opacity: 0;
                        visibility: hidden;
                        transition: 0.3s;
                        width: 100%;
                        height: 100%;
                        display: flex;
                        justify-content: center;
                        position: absolute;
                        background: #333752B2;
                        top: 35%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        
                        
                        button {
                                position: absolute;
                                top: 50%;
                                display: inline-block;
                                padding: 0.8rem 1.5rem;
                                display: flex;
                                align-items: center;
                                gap: 0.4rem;
                                font-size: 1.6rem;
                                font-weight: 400;
                                font-family: var(--inter);
                                color: var(--theme);
                                background: #fff;
                                border-radius: .4rem;
                                border: none;
                                
                        }
                }
                
                
                
                
                img {
                        width: 100%;
                }
                
                
                .itemDesc {
                        padding: 2rem 2.8rem;
                        width: 100%;
                        position: absolute;
                        z-index: 2;
                        bottom: 0;
                        background: #fff;
                        
                        
                        .ctgName{ 
                                font-size: 1.6rem;
                                font-weight: 700;
                                line-height: 2.4rem;
                                font-family: var(--inter);
                                color: #131523;
                                
                        }
                        
                        .itemCount {
                                font-size: 1.4rem;
                                font-weight: 400;
                                line-height: 2rem;
                                font-family: var(--inter);
                                color: var(--gray);
                        }
                }
                
        }
        
        
}
.ctgContainer:hover .ctgEdit {
 opacity: 1;
visibility: visible;
}       



