.NoData {
    margin-top: 3rem;
    height: 70vh;
    width: 100%;
    width: 110rem; 
    
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #fff;
    justify-content: center;

    img {
        width: 10.95rem;
        height: 10.6rem;
    }

    .ndTitle {
        margin-top: 2.4rem;
        font-size: 2rem;
        font-weight: 700;
        line-height: 2.8rem;
        font-family: var(--inter);
        color: #131523;
    } 

    .ndDesc {
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 2.4rem;
        font-family: var(--inter);
        color: var(--gray);
        text-align: center;
        margin-top: 1.2rem;
    }

    button {
        margin-top: 2.4rem;
        border-color: var(--theme);
        background: var(--theme);
        border-radius: 0.4rem;
        padding: 0.7rem 1.9rem; 
        color: #fff;
        font-family: var(--inter);
        font-size: 1.6rem;
        line-height: 2.4rem;
        display: flex;
        align-items: center;
        gap: 0.4rem;
        &:hover {
            background-color: transparent;
            color: var(--theme);
        }
    }
}